<!DOCTYPE html>
<html lang="en"><head>
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>APanel</title>
	<!-- STYLES: BOOTSTRAPS -->
	<link type="text/css" href="/bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link type="text/css" href="/bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">
	<!-- STYLES: THEMES -->
	<link type="text/css" href="/css/theme.css" rel="stylesheet">
	<link type="text/css" href="/css/theme-responsive-767.css" rel="stylesheet">
	<link type="text/css" href="/css/theme-responsive-768-979.css" rel="stylesheet">
	<link type="text/css" href="/images/icons/css/font-awesome.css" rel="stylesheet">
	<!--FONTS-->
	<link type="text/css" href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600' rel='stylesheet'>
</head>

<body>
	<div class="navbar navbar-fixed-top">
		<div class="navbar-inner">
			<div class="container">
				<a class="btn btn-navbar" data-toggle="collapse" data-target=".navbar-inverse-collapse">
					<i class="icon-reorder shaded"></i>
				</a>

			  	<a class="brand" href="#">
			  		Online Project Management
			  	</a>

				<div class="nav-collapse collapse navbar-inverse-collapse">
					<ul class="nav pull-right">
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">Action<b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li><a href="#mdlCreateProject" data-toggle="modal">Create Project</a></li>
								<li><a href="#">Another action</a></li>
								<li><a href="#">Something else here</a></li>
								<li class="divider"></li>
								<li class="nav-header">Settings</li>
								<li><a href="#">Invite User</a></li>
								<li><a href="#">One more separated link</a></li>
							</ul>
						</li>
						<li><a href="#">
							Help
						</a></li>
						<li><a href="#">
							Report
						</a></li>
						<li class="nav-user dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown">
								<img src="images/samples/user.png" class="nav-avatar" />
								<b class="caret"></b>
							</a>
							<ul class="dropdown-menu">
								<li><a href="#">Your Profile</a></li>
								<li><a href="#">Edit Profile</a></li>
								<li><a href="#">Account Settings</a></li>
								<li class="divider"></li>
								<li><a href="#">Sign Out</a></li>
							</ul>
						</li>
					</ul>
				</div><!-- /.nav-collapse -->
			</div>
		</div><!-- /navbar-inner -->
	</div><!-- /navbar -->



	<div class="wrapper">
		<div class="container">
			<div class="row">
				<div class="span12">
					<div class="content" id="content">


					</div><!--/.content-->
				</div><!--/.span12-->
			</div>
		</div><!--/.container-->
	</div><!--/.wrapper-->
	<div class="footer">
		<div class="container">
			<ul class="nav pull-right">
				<li class="active"><a href="#">
					Documentation
				</a></li>
				<li><a href="#">
					Help
				</a></li>
				<li><a href="#">
					Report
				</a></li>
				<li><a href="#">
					Like us on Facebook
				</a></li>
				<li><a href="#">
					Follow us on Twitter
				</a></li>
			</ul>

			<b class="copyright">&copy; 2013 AdminPro</b> All rights reserved.
		</div>
	</div>


    <div class="widget">
        <div id="mdlCreateProject" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"><i class="icon-remove"></i></button>
                <h3 id="myModalLabel">Create Project</h3>
            </div>
            <div class="modal-body">
                <form class="form-horizontal row-fluid" id="frmCreateProject">
                    <div class="control-group">
                        <label for="txtProjectName" class="control-label">Project Name</label>
                        <div class="controls">
                            <input type="text" class="span8" placeholder="Enter Project Name" id="txtProjectName" name="txtProjectName">
                            <span class="help-inline"></span>
                        </div>
                    </div>
                </form><!--form Ends -->
            </div>
            <div class="modal-footer">
                <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
                <button class="btn btn-primary" id="btnCreateProject" >Create</button>
            </div>
        </div>
        <!-- Modal -->
    </div>

    <hr class="widget-divider hidden-desktop">
    <!-- SCRIPTS: BASE -->
	<script src="/scripts/jquery-1.9.1.min.js"></script>
	<script src="/scripts/jquery-ui-1.10.1.custom.min.js"></script>
	<script src="/bootstrap/js/bootstrap.min.js"></script>
    <script src="/scripts/handlebars.js"></script>
    <script src="/scripts/custom/index.html.js" type="application/javascript"></script>

	<!-- SCRIPTS: DATATABLES -->
	<script src="/scripts/datatables/jquery.dataTables.js"></script>
	<script>
		$(document).ready(function() {
			$('.datatable-1').dataTable();
			$('.dataTables_paginate').addClass("btn-group datatable-pagination");
			$('.dataTables_paginate > a').wrapInner('<span />');
			$('.dataTables_paginate > a:first-child').append('<i class="icon-chevron-left shaded"></i>');
			$('.dataTables_paginate > a:last-child').append('<i class="icon-chevron-right shaded"></i>');
		} );
	</script>
	<script>
	$(function() {
		$( ".slider-range" ).slider({
			range: true,
			min: 0,
			max: 20000,
			values: [ 3000, 12000 ],
			// $(this).find('.ui-slider-handle:first-child').addClass("first-handle");
			// slide: function( event, ui ) {
			// 	$( "#amount" ).val( "$" + ui.values[ 0 ] + " - $" + ui.values[ 1 ] );
	  // 		}
	  //
			slide: function(event, ui) {
				$(this).find('.ui-slider-handle').attr("title", ui.value);
			},
		});
		$( "#amount" ).val( "$" + $( ".slider-range" ).slider( "values", 0 ) + " - $" + $( ".slider-range" ).slider( "values", 1 ) );

	});
	</script>
    <script type="text/x-handlebars-template" id="project-template">
        <div class="span4">
            <div class="module">
                <div class="module-head">
                    <h3>{{project_name}}</h3>
                </div>
                <div class="module-body">
                    <div class="span12 center" style="text-align:center;">
                        <span style="font-size: 14px;font-weight: bold;">
                            {{#if sprints}}
                                {{sprints.name}}
                            {{else}}
                                No Active Sprint
                            {{/if}}</span>
                    </div>
                    <table class="table">
                        <tbody>
                        <tr>
                            <td>Task</td>
                            <td><strong>{{tasks}}</strong></td>
                        </tr>
                        <tr>
                            <td>Developer</td>
                            <td><strong>{{developer}}</strong></td>
                        </tr>
                        <tr>
                            <td>Progress</td>
                            <td><strong>{{completion}}</strong></td>
                        </tr>
                        <tr>
                            <td>Capacity</td>
                            <td><strong>{{capacity}}</strong></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                    <div class="span12" style="text-align: right;">
                        <div class="btn open_project" style="margin-right: 10px;" id="{{_id}}" >Open</div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div><!--/.span4-->
    </script>
</body>